html {
  font-size: 24px;
  overflow-x: hidden;
}

body {
  font-family: "roboto";
  margin: 0;
  overflow-x: hidden;
}

/*-----Header section-----*/
.header {
  background-color: #011827;
  display: block;
  height: 144px;
}
@media screen and (min-width: 960px) {
  .header {
    height: 216px;
  }
}
.header__logo {
  height: 82px;
  margin-left: 27px;
  margin-top: 26px;
  width: 128px;
}
.header__h1 {
  color: white;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  height: 84px;
  margin: 0;
  margin-left: 10px;
  margin-top: 25px;
  width: 78px;
}
@media screen and (min-width: 740px) {
  .header__h1 {
    font-size: 40px;
    height: fit-content;
    margin-top: 58px;
    vertical-align: top;
    width: fit-content;
  }
}

.navbar {
  align-items: center;
  display: none;
  justify-content: center;
  margin-top: 50px;
}
@media screen and (min-width: 960px) {
  .navbar {
    display: block;
  }
}
.navbar__navList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.navbar__navItem {
  list-style: none;
  margin: 0;
  margin: 0px 57px 0px 57px;
}
.navbar__navItem a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}
.navbar__navItem a:hover {
  color: #8acfe5;
}

/*----Main section----*/
.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.main__hackerImg {
  width: 100vw;
}
@media screen and (min-width: 960px) {
  .main__hackerImg {
    display: none;
  }
}
.main__hackerImgWide {
  display: none;
  width: 100vw;
}
@media screen and (min-width: 960px) {
  .main__hackerImgWide {
    display: block;
  }
}
.main__popularTitle {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 105px;
}
@media screen and (min-width: 960px) {
  .main__popularTitle {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 414px) {
  .main__popularTitle {
    font-size: 1rem;
  }
}

.btnCont {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
}
@media screen and (min-width: 740px) {
  .btnCont {
    align-items: last baseline;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
.btnCont__onSiteBtn {
  background-color: #8acfe5;
  border: none;
  border-radius: 4px;
  color: #011827;
  cursor: pointer;
  font-family: "roboto";
  font-size: 1rem;
  font-weight: 700;
  height: 66px;
  width: 308px;
}
@media screen and (max-width: 414px) {
  .btnCont__onSiteBtn {
    width: fit-content;
  }
}
@media screen and (min-width: 740px) {
  .btnCont__onSiteBtn {
    margin-left: 8.5px;
    margin-top: 0px;
  }
}
.btnCont__onlineBtn {
  background-color: transparent;
  border: none;
  color: #36769d;
  cursor: pointer;
  font-family: "roboto";
  font-size: 0.7rem;
  font-weight: 700;
  height: 19.97px;
  margin-top: 30px;
  text-decoration: underline;
}
@media screen and (min-width: 740px) {
  .btnCont__onlineBtn {
    background-color: #e3170a;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
    height: 66px;
    margin-right: 8.5px;
    margin-top: 0;
    width: 308px;
    text-decoration: none;
  }
}

@media screen and (min-width: 740px) {
  .btnCont--offSet {
    bottom: 33px;
    margin: 0;
    position: relative;
  }
}

@media screen and (min-width: 960px) {
  .btnCont--moreTopMargin {
    margin-top: 77px;
  }
}

.reviewCont {
  display: flex;
}
.reviewCont__review {
  display: flex;
  font-family: "roboto";
  height: fit-content;
  margin-top: 67px;
}
.reviewCont__img {
  height: 72px;
  margin-right: 22px;
  width: 73.34px;
}
@media screen and (min-width: 1080px) {
  .reviewCont__img {
    width: 96px;
    height: 96px;
  }
}
.reviewCont__text {
  font-weight: 400;
  max-width: 343.26px;
}
@media screen and (min-width: 1080px) {
  .reviewCont__text {
    max-width: 407px;
  }
}
.reviewCont__quote {
  font-style: italic;
  margin: 0px;
}
.reviewCont__name {
  font-size: 0.8rem;
  height: 21px;
  margin: 0px;
  margin-top: 12px;
}
@media screen and (min-width: 1080px) {
  .reviewCont__name {
    max-width: 300px;
  }
}
.reviewCont__review--hidden {
  display: none;
  margin-left: 1rem;
}
@media screen and (min-width: 1080px) {
  .reviewCont__review--hidden {
    display: flex;
  }
}
.reviewCont__review--hidden__text {
  width: 415px;
}

.sidescroll {
  display: flex;
  margin-top: 44px;
  overflow-x: scroll;
  padding: 0px 0px 10px 0px;
  width: 100vw;
}
@media screen and (min-width: 1200px) {
  .sidescroll {
    align-items: center;
    margin-top: 87px;
    overflow-x: auto;
    padding: 0px 0px 10px 0px;
    width: auto;
  }
}
.sidescroll::-webkit-scrollbar {
  display: none;
}
.sidescroll__card {
  border-radius: 8px;
  box-shadow: 0 0 8px #b6bdb5;
  display: flex;
  flex-direction: column;
  height: 446px;
  margin: 0px 19px;
  width: 363px;
}
@media screen and (min-width: 1200px) {
  .sidescroll__card {
    margin: 0px 21px;
  }
}
.sidescroll__card--moreMarginLeft {
  margin-left: 52px;
}
.sidescroll__card--moreMarginRight {
  margin-right: 52px;
}
.sidescroll__img {
  background-image: url("assets/image 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
  height: 219px;
  width: 363px;
}
.sidescroll__title {
  font-size: 28px;
  margin: 0;
  margin: 0px 17px;
  margin-top: 12px;
}
.sidescroll__rating {
  margin: 0px 17px;
  margin-bottom: 23px;
}
.sidescroll__participants {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
}
.sidescroll__text {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  margin: 0px 17px;
  white-space: normal;
}
.sidescroll__btn {
  align-self: flex-end;
  background-color: #e3170a;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 700;
  height: 44px;
  margin: 20px 18px 12px 0px;
  width: 179.28px;
}

.break {
  align-items: center;
  background-color: #011827;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin-top: 56px;
  overflow-x: hidden;
  width: 100vw;
}
@media screen and (min-width: 1080px) {
  .break {
    margin-top: 87px;
  }
}
.break__text {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0px 20px 0px 20px;
  text-align: center;
  max-width: 439px;
}
@media screen and (min-width: 960px) {
  .break__text {
    max-width: 632px;
  }
}
@media screen and (max-width: 414px) {
  .break__text {
    font-size: 1rem;
  }
}
.break__btn {
  background-color: #011827;
  border: solid 2px #8acfe5;
  border-radius: 4px;
  color: #8acfe5;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  height: 66px;
  margin-top: 56px;
  width: 308px;
}
@media screen and (min-width: 1080px) {
  .break__btn {
    margin-top: 44px;
  }
}
@media screen and (max-width: 414px) {
  .break__btn {
    width: fit-content;
  }
}
.break__btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}

@media screen and (min-width: 1080px) {
  .lowerMainCont {
    display: flex;
    height: 460px;
    width: 100vw;
  }
}
@media screen and (min-width: 1080px) {
  .lowerMainCont__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
  }
}
.lowerMainCont__img {
  height: auto;
  width: 100vw;
}
@media screen and (min-width: 1080px) {
  .lowerMainCont__img {
    width: 50vw;
  }
}
.lowerMainCont__title {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 30px 20px 30px 20px;
  margin-top: 30px;
  max-width: 435px;
}
@media screen and (min-width: 1080px) {
  .lowerMainCont__title {
    margin: 0;
    margin-top: 60px;
    width: 416px;
  }
}
.lowerMainCont__text {
  font-weight: 400;
  margin: 25px 20px 25px 20px;
  max-width: 435px;
}
@media screen and (min-width: 1080px) {
  .lowerMainCont__text {
    width: 416px;
  }
}
.lowerMainCont__btn {
  background-color: #e3170a;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: "roboto";
  font-size: 1rem;
  font-weight: 700;
  height: 66px;
  margin: 25px 0px 64px 21px;
  width: 308px;
}
@media screen and (min-width: 1080px) {
  .lowerMainCont__btn {
    margin: 0;
    margin-bottom: 66px;
    position: relative;
    transform: translateX(-55px);
  }
}
@media screen and (max-width: 414px) {
  .lowerMainCont__btn {
    width: fit-content;
  }
}

.lowerMainCont--reversed {
  flex-direction: row-reverse;
}

/*-----Footer section-----*/
.footer {
  background-color: #011827;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 566px;
  justify-content: center;
  margin-top: 34px;
}
@media screen and (min-width: 960px) {
  .footer {
    flex-direction: row;
    min-height: 467px;
    justify-content: space-between;
    margin-top: 183px;
  }
}

.about {
  margin-left: 23px;
  max-width: 434px;
}
@media screen and (min-width: 960px) {
  .about {
    margin: 146px 0px 0px 108px;
    width: 416px;
  }
}
.about__title {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 7px;
}
.about__text {
  margin: 0;
  color: #ffffff;
  font-size: 0.75rem;
  list-style: none;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-left: 23px;
}
@media screen and (min-width: 960px) {
  .menu {
    margin-left: 150px;
    margin-top: 146px;
  }
}
.menu__title {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 7px 0px 7px 0px;
}
@media screen and (min-width: 960px) {
  .menu__title {
    margin-top: 0px;
  }
}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu__item {
  color: #ffffff;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 22px;
  list-style: none;
}
.menu__item:hover {
  color: #8acfe5;
}

.social {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 0px 23px;
}
@media screen and (min-width: 960px) {
  .social {
    margin-right: 206px;
    margin-top: 146px;
  }
}
.social__title {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 7px;
}
.social ul {
  margin: 0;
  padding: 0;
}
.social__item {
  color: #ffffff;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 22px;
  list-style: none;
}
.social__item:hover {
  color: #8acfe5;
}
