html {
  font-size: 24px;
}

body {
  display: grid;
  margin: 0;
  font-family: "roboto";
}

.header {
  display: flex;
  align-items: center;
  background-color: #011827;
  height: 144px;
}

.header__logo {
  height: 84px;
  width: 128px;
  margin-left: 27px;
}

.header__h1 {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  width: 78px;
  height: 84px;
  margin-left: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__hackerImg {
  width: 100vw;
  height: auto;
  object-fit: scale-down;
}

.main__btn {
  font-size: 1rem;
  font-family: "roboto";
  font-weight: 700;
  color: #011827;
  width: 308px;
  height: 66px;
  background-color: #8acfe5;
  border: none;
  margin-top: 37px;
}

.main__nav {
  color: #36769d;
  margin-top: 30px;
  font-weight: 700;
  font-size: 0.7rem;
  height: 19.97px;
}

.main__review {
  display: flex;
  font-family: "roboto";
  height: 139px;
  width: 439px;
  margin-top: 67px;
}

.review__img {
  height: 72px;
  width: 73.34px;
  margin-right: 22px;
}

.review__quote {
  font-weight: 400;
  width: 343.26px;
}

.quote__text {
  font-style: italic;
  margin: 0px;
}

.quote__name {
  font-size: 0.8rem;
  margin: 0px;
  height: 21px;
  margin-top: 12px;
}

.main__h2 {
  font-size: 1.3rem;
  margin-top: 105px;
}
