.footer {
  background-color: #011827;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 34px;
  min-height: 566px;

  @include breakpoint($medium) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 183px;
    min-height: 467px;
  }
}
.about {
  margin-left: 23px;
  max-width: 434px;

  @include breakpoint($medium) {
    margin: 146px 0px 0px 108px;
    width: 416px;
  }
  &__title {
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 7px;
  }
  &__text {
    color: #ffffff;
    font-size: 0.75rem;
    list-style: none;
    margin: 0;
    margin-bottom: 40px;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  margin-left: 23px;

  @include breakpoint($medium) {
    margin-left: 150px;
    margin-top: 146px;
  }
  &__title {
    font-size: 0.75rem;
    font-weight: 700;
    margin: 7px 0px 7px 0px;

    @include breakpoint($medium) {
      margin-top: 0px;
    }
  }
  & ul {
    margin: 0;
    padding: 0;
  }
  &__item {
    color: #ffffff;
    cursor: pointer;
    font-size: 0.75rem;
    line-height: 22px;
    list-style: none;
  }
  &__item:hover {
    color: #8acfe5;
  }
}
.social {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 0px 23px;

  @include breakpoint($medium) {
    margin-right: 206px;
    margin-top: 146px;
  }
  &__title {
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 7px;
  }
  & ul {
    margin: 0;
    padding: 0;
  }
  &__item {
    color: #ffffff;
    cursor: pointer;
    font-size: 0.75rem;
    line-height: 22px;
    list-style: none;
  }
  &__item:hover {
    color: #8acfe5;
  }
}
