.header {
  background-color: #011827;
  display: block;
  height: 144px;

  @include breakpoint($medium) {
    height: 216px;
  }
  &__logo {
    height: 82px;
    margin-left: 27px;
    margin-top: 26px;
    width: 128px;
  }
  &__title {
    color: white;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    height: 84px;
    margin: 0;
    margin-left: 10px;
    margin-top: 25px;
    width: 78px;

    @include breakpoint($small) {
      font-size: 40px;
      height: fit-content;
      margin-top: 58px;
      vertical-align: top;
      width: fit-content;
    }
  }
}
.navbar {
  align-items: center;
  display: none;
  justify-content: center;
  margin-top: 50px;

  @include breakpoint($medium) {
    display: block;
  }
  &__navList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  &__navItem {
    list-style: none;
    margin: 0;
    margin: 0px 57px 0px 57px;
  }
  &__navItem a {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
  }
  &__navItem a:hover {
    color: #8acfe5;
  }
}
