@mixin breakpoint() {
  @media screen and (min-width: 960px) {
    @content;
  }
}

html {
  font-size: 24px;
}

body {
  margin: 0;
  font-family: "roboto";
  overflow-x: hidden;
}
/*-----Header section-----*/
@import "header";
/*----Main section----*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  &__hackerImg {
    width: 100vw;

    @include breakpoint() {
      display: none;
    }
  }

  &__hackerImgWide {
    display: none;
    width: 100vw;

    @include breakpoint() {
      display: block;
    }
  }

  &__popularTitle {
    font-size: 1.3rem;
    margin-top: 105px;
    font-weight: 400;
    margin-bottom: 0;
  }
}

.btnCont--offSet {
  @include breakpoint() {
    position: relative;
    bottom: 33px;
  }
}

.btnCont {
  display: flex;
  flex-direction: column;

  @include breakpoint() {
    flex-direction: row;
    align-items: last baseline;
    justify-content: center;
  }
  &__onSiteBtn {
    font-size: 1rem;
    font-family: "roboto";
    font-weight: 700;
    color: #011827;
    width: 308px;
    height: 66px;
    background-color: #8acfe5;
    border: none;
    border-radius: 4px;
    margin-top: 37px;

    @include breakpoint() {
      margin-top: 0px;
      margin-right: 8.5px;
    }
  }

  &__onlineBtn {
    color: #36769d;
    font-family: "roboto";
    margin-top: 30px;
    font-weight: 700;
    font-size: 0.7rem;
    height: 19.97px;
    background-color: transparent;
    border: none;

    @include breakpoint() {
      color: #ffffff;
      background-color: #e3170a;
      font-size: 1rem;
      font-weight: 700;
      width: 308px;
      height: 66px;
      border-radius: 4px;
      margin-top: 0;
      margin-left: 8.5px;

      //border: none;
    }
  }
}

.reviewCont {
  display: flex;
  &__review {
    display: flex;
    font-family: "roboto";
    height: fit-content;
    margin-top: 67px;
  }

  &__img {
    height: 72px;
    width: 73.34px;
    margin-right: 22px;
  }

  &__text {
    font-weight: 400;
    width: 343.26px;
    @include breakpoint() {
      width: 407px;
    }
  }

  &__quote {
    font-style: italic;
    margin: 0px;
  }

  &__name {
    font-size: 0.8rem;
    margin: 0px;
    //height: 21px;
    margin-top: 12px;

    @include breakpoint() {
      width: 300px;
    }
  }

  &__review--hidden {
    display: none;
    margin-left: 1rem;

    @include breakpoint() {
      display: flex;
    }

    &__text {
      width: 415px;
    }
  }
}

.sidescroll {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 44px;
  overflow-x: scroll;
  padding: 0px 0px 10px 52px;

  &__card {
    display: flex;
    flex-direction: column;
    width: 363px;
    height: 446px;
    box-shadow: 0 0 8px #b6bdb5;
    border-radius: 8px;
    margin: 0px 19px;
  }

  &__img {
    background-image: url("assets/image 2.png");
    width: 363px;
    height: 219px;
    border-radius: 8px 8px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    font-size: 28px;
    margin: 0;
    margin: 0px 17px;
    margin-top: 12px;
  }

  &__rating {
    margin: 0px 17px;
    margin-bottom: 23px;
  }

  &__participants {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    font-weight: 400;
  }

  &__text {
    color: #000000;
    font-size: 18px;
    white-space: normal;
    margin: 0px 17px;
    font-weight: 400;
  }

  &__btn {
    background-color: #e3170a;
    color: #ffffff;
    font-size: 0.7rem;
    align-self: flex-end;
    width: 179.28px;
    height: 44px;
    border-radius: 4px;
    border: none;
    margin: 20px 18px 12px 0px;
    font-weight: 700;
  }
}

.break {
  background-color: #011827;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
  overflow-x: hidden;
  height: 500px;

  &__text {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0px 20px 0px 20px;
    text-align: center;
  }

  &__btn {
    color: #8acfe5;
    font-size: 1rem;
    font-weight: 700;
    height: 66px;
    width: 308px;
    background-color: #011827;
    border: solid 2px #8acfe5;
    border-radius: 4px;
    margin-top: 56px;
  }
}

.lowerMain {
}

.container {
  &__img {
    width: 100vw;
  }

  &__title {
    font-size: 1.3rem;
    margin-top: 105px;
    font-weight: 700;
    width: 435px;
    margin: 30px 20px 30px 20px;
  }

  &__text {
    margin: 25px 20px 25px 20px;
    font-weight: 400;
    width: 435px;
  }

  &__btn {
    font-size: 1rem;
    font-family: "roboto";
    font-weight: 700;
    color: #ffffff;
    width: 308px;
    height: 66px;
    background-color: #e3170a;
    border: none;
    margin: 25px 0px 64px 21px;
  }
}
/*-----Footer section-----*/
@import "footer";
